/* Full screen login background */
.auth{
  height:100vh;
  width:100%;
  background:url("../assets/login-bg.jpg") no-repeat center/cover;
  background-size:cover;

  display:flex;
  justify-content:center; /* horizontal center */
  align-items:center;     /* vertical center */
  flex-direction:column;
  padding-top:0;          /* remove previous padding */
}

/* Auth box container */
.auth-box{
  background:rgba(255,255,255,0.9);
  padding:50px 60px;
  border-radius:20px;
  display:flex;
  flex-direction:column;
  gap:20px;
  box-shadow:0 20px 50px rgba(30, 81, 250, 0.5);
  width:350px;
  align-items:center;
  animation:fadeIn 0.8s ease-out;
}

/* Inputs */
.auth-box input{
  width:100%;
  padding:12px 15px;
  border-radius:8px;
  border:1px solid #ccc;
  font-size:15px;
  outline:none;
  transition:0.3s;
}

.auth-box input:focus{
  border-color:#002244;
  box-shadow:0 0 10px rgba(0,34,68,0.3);
}

/* Buttons */
.auth-box button{
  width:100%;
  padding:14px;
  font-size:16px;
  font-weight:600;
  border:none;
  border-radius:10px;
  background:#1560f6;
  color:white;
  cursor:pointer;
  transition:all 0.3s ease;
}

.auth-box button:hover{
  background:#3f41e1;
  color:black;
  transform:scale(1.05);
}

/* Links inside auth box */
.auth-box p{
  font-size:14px;
  color:#002244;
  cursor:pointer;
  margin-top:5px;
}

.auth-box p:hover{
  text-decoration:underline;
}

/* Smooth fade-in animation */
@keyframes fadeIn{
  from{opacity:0; transform: translateY(20px);}
  to{opacity:1; transform: translateY(0);}
}
