

.footer {
  height: 60px;
  background-color: #063970;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
   text-align: center;
  padding: 10px 0;

}
