/* Login page background */
.login-page {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../assets/college-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Login card */
.login-card {
  width: 380px;
  padding: 30px;
  text-align: center;

  background: rgba(255, 255, 255, 0.95); /* single clean shade */
  border-radius: 12px;

  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

/* Headings */
.login-card h1 {
  color: #003366;
  margin-bottom: 5px;
}

.login-card h2 {
  font-weight: normal;
  margin-bottom: 5px;
}

.login-card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

/* Inputs */
.login-card input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;

  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Button */
.login-card button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;

  background-color: #003366;
  color: white;
  border: none;
  border-radius: 6px;

  cursor: pointer;
}

.login-card button:hover {
  background-color: #002244;
}
