.navbar{
  height:90px;
  width:100%;
  position:fixed;
  top:0;
  z-index:1000;

  background:rgba(0,0,0,0.7);
  backdrop-filter: blur(10px);

  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 60px;
  box-sizing:border-box;
  color:white;
}

/* Left side */
.nav-left{
  display:flex;
  align-items:center;
  gap:18px;
}

.nav-logo{
  width:60px;
  height:60px;
}

.nav-title{
  font-size:22px;
  font-weight:800;
  letter-spacing:2px;
  white-space:nowrap;
}

/* Right links */
.nav-right{
  display:flex;
  align-items:center;
  gap:35px;
}

.nav-right a{
  color:white;
  text-decoration:none;
  font-size:15px;
  font-weight:600;
  letter-spacing:1px;
}

.nav-right a:hover{
  color:#00ccff;
}
