.navbar {
  height: 70px;
  width: 100%;
  background-color: #003366;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
  box-sizing: border-box;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-logo {
  height: 42px;
}

.nav-title {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

/* Back button */
.nav-back-btn {
  background: transparent;
  border: 1px solid white;
  color: white;

  padding: 4px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.nav-back-btn:hover {
  background-color: white;
  color: #003366;
}

.nav-right a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}
/* Icon button (Back) */
.nav-icon-btn {
  background: transparent;
  border: 1px solid white;
  color: white;

  width: 32px;
  height: 32px;

  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icon-btn:hover {
  background-color: white;
  color: #003366;
}

/* Logout button */
.logout-btn {
  background-color: #ffcc00;
  color: #003366;

  border: none;
  padding: 6px 14px;
  border-radius: 6px;

  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  background-color: #e6b800;
}
