.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  background-color: #003366;
  color: white;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-logo {
  width: 45px;
  height: 45px;
}

.nav-title {
  font-size: 18px;
  font-weight: bold;
}

.nav-right a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

.nav-right a:hover {
  text-decoration: underline;
}
